footer {
  margin-top: auto;
  color: rgba(var(--fg-color), 0.7); // Mute the text
  border-top: solid;
  border-color: var(--fg-color); // Don't mute the border
  padding-top: 2.5rem;
  margin-top: 2rem;
}
