// CSS for underlines on hover from https://www.30secondsofcode.org/css/s/hover-underline-animation/

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: solid;
  border-color: var(--divider-color);
  padding-bottom: 0.75rem;
  margin-bottom: 1.5rem;

  .svg-logo {
    margin-right: 10px;
    color: var(--logo-text-bg);

    g {
      color: var(--logo-path);
      transition: color $menuTransitionTime;
    }

    text {
      fill: var(--logo-text);
    }
  }

  .site-title-link {
    @include hover-color-transition(var(--fg-color) !important, var(--link-color) !important);
    display: flex;
    text-decoration: none;
    align-items: center;

    &:hover>.svg-logo>g {
      color: var(--link-color);
      transition: color $menuTransitionTime;
    }
  }

  .site-title {
    font-family: "PixeloidMono";
    font-weight: bold;
    font-size: xx-large;
  }

  .menu {
    display: inline-flex;
  }

  %menu-item {
    @include hover-color-transition(var(--fg-color) !important, var(--link-color) !important);
    font-family: "PixeloidMono";
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-size: larger;
  }

  // Style for the underline pseudo-element
  %menu-item-underline {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: var(--highlight-color);
  }

  .menu-item-selected {
    @extend %menu-item;
    font-weight: 900;
  }

  .menu-item-selected::after {
    @extend %menu-item-underline;
    height: 3px;
    transform: scaleX(1);
  }

  .menu-item-unselected {
    @extend %menu-item;
  }

  .menu-item-unselected::after {
    @extend %menu-item-underline;
    height: 2px;
    transform: scaleX(0);
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
  }

  .menu-item-unselected:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
  }

  .menu-icon {
    @include hover-color-transition(var(--fg-color), var(--link-color));
  }

  #theme-dropdown {
    display: inline-block;

    #theme-options {
      display: none;
      position: absolute;

      .theme-option {
        z-index: 1;
      }
    }

    &:hover {
      #theme-options {
        display: block;
      }
    }
  }
}