// Adapted from lenpaul's academic theme's sass
// https://github.com/LeNPaul/academic/blob/gh-pages/_sass/main.scss

$bodyFont: Roboto, Consolas, sans-serif; //-apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$menuTransitionTime: 0.5s;

:root {
  --light-bg: #fdfdff;
  --dark-bg: #0f0f23;
  --ugly-fg: #ED7797;
}

@mixin lightVars {
  --light-color: var(--light-bg);
  --dark-color: #3d3b49;
  --fg-color: var(--dark-color);
  --bg-color: var(--light-bg);
  --bg-hoverable: #00000004;
  --bg-hover: #0000000a;
  --bg-selected: #00a6ff1c;
  --bg-selected-hover: #00a6ff37;
  --highlight-color: #22a887;
  --link-color: #229a7c;
  --link-color-visited: #0b7057;
  --divider-color: var(--fg-color);

  --logo-path: #23324e;
  --logo-text: #ca3148;
  --logo-text-bg: var(--bg-color);
}

:root {
  // By default, use light mode (in case JS takes a while to load)
  @include lightVars();
}

.theme-light {
  @include lightVars();
}

.theme-dark {
  @include lightVars();

  --light-color: #ddddd7;
  --dark-color: var(--dark-bg);
  --fg-color: var(--light-color);
  --bg-color: var(--dark-bg);
  --link-color-visited: #0e8b6c;

  --logo-path: #FF7AF6;
  --logo-text: #fa0d64;
}

.theme-ugly {
  @include lightVars();

  --fg-color: var(--ugly-fg);
  --bg-color: #fdfdff;
  --divider-color: #273146;

  --logo-path: #23324e;
  --logo-text: #ca3148;
}

body {
  color: var(--fg-color);
  background: var(--bg-color);
  font-family: $bodyFont;
  margin: 0 auto;
  padding-top: 1rem;
  padding-left: 15vw;
  padding-right: 15vw;
}

body>div {
  // The flexing is so the footer stays at the bottom
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

body a {
  color: var(--link-color);
}

body a:visited {
  color: var(--link-color-visited);
}

// This is so the footer stays at the bottom
// See _layouts/default.html for usage
#content {
  flex: 1;
}

p {
  font-size: large;
}

/// For links that change color on hover
@mixin hover-color-transition($from, $to) {
  color: $from;
  transition: color $menuTransitionTime;

  &:hover {
    color: $to;
    transition: color $menuTransitionTime;
  }
}