---
import { PAGES } from "../../../consts";
import { themes } from "../../../theme";
import PageLink from "./PageLink.astro";
---

<div id="mobile-header" class="header">
  <i id="burger-menu-icon" class="fa-solid fa-bars"></i>
  <div id="sidebar">
    <nav class="dropdown-item">
      {PAGES.map((pageProps) => <PageLink {...pageProps} />)}
    </nav>
    <div id="theme-row" class="dropdown-item">
      <label for="theme">Theme:</label>
      <select name="theme" id="theme-select">
        {themes.map(({ name, theme }) => <option value={theme ?? "Sync"}>{name}</option>)}
      </select>
    </div>
  </div>
</div>

<script>
  import { setTheme } from "../../../theme";

  const sidebar = document.getElementById("sidebar")!;
  const burgerIcon = document.getElementById("burger-menu-icon")!;
  burgerIcon.addEventListener("click", () => {
    sidebar.classList.toggle("active");
    if (burgerIcon.classList.contains("fa-bars")) {
      burgerIcon.classList.replace("fa-bars", "fa-xmark");
    } else {
      burgerIcon.classList.replace("fa-xmark", "fa-bars");
    }

    if (sidebar.classList.contains("active")) {
      // Defined in common.scss
      document.body.classList.add("disable-scroll");
    } else {
      document.body.classList.remove("disable-scroll");
    }
  });

  document
    .getElementById("theme-select")!
    .addEventListener("change", (e: any) => {
      setTheme(e.currentTarget.value === "Sync" ? null : e.currentTarget.value);
    });
</script>

<style lang="scss">
  @import "../../../styles/common.scss";
  @import "../../../styles/dropdown.scss";

  @media (min-width: $tabletMinWidth) {
    #mobile-header {
      display: none;
    }
  }

  #mobile-header {
    margin-left: auto;
  }

  #burger-menu-icon {
    z-index: 1000;
    position: relative;
  }

  #sidebar {
    z-index: 100;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    padding-top: 4rem;

    background-color: var(--bg-color);

    left: 100vw;
    transition: left 0.5s;

    &.active {
      left: 0;
      transition: left 0.5s;
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 4rem;
    gap: 0.75rem;

    width: min-content;
    margin-left: auto;
    margin-right: auto;
  }

  #theme-row {
    width: min-content;
    margin-left: auto;
    margin-right: auto;
  }
</style>
