---
import { PAGES } from "../../../consts";
import { themes } from "../../../theme";
import PageLink from "./PageLink.astro";
---

<div id="mobile-header" class="header">
  <div id="mobile-nav-dropdown" class="dropdown">
    <i id="burger-menu-icon" class="fa-solid fa-bars"></i>
    <div class="dropdown-items">
      <nav class="dropdown-item">
        {PAGES.map((pageProps) => <PageLink {...pageProps} />)}
      </nav>
      <div id="theme-row" class="dropdown-item">
        <label for="theme">Theme:</label>
        <select name="theme" id="theme-select">
          {
            themes.map(({ name, theme }) => (
              <option value={theme}>{name}</option>
            ))
          }
        </select>
      </div>
    </div>
  </div>
</div>

<script>
  import { setTheme } from "../../../theme";

  const dropdown = document.getElementById("mobile-nav-dropdown")!;
  const burgerIcon = document.getElementById("burger-menu-icon")!;
  burgerIcon.addEventListener("click", () =>
    dropdown.classList.toggle("active"),
  );

  document
    .getElementById("theme-select")!
    .addEventListener("change", (e: any) => {
      setTheme(e.currentTarget.value);
    });
</script>

<style lang="scss">
  @import "../../../styles/common.scss";
  @import "../../../styles/dropdown.scss";

  @media (min-width: $tabletMinWidth) {
    #mobile-header {
      display: none;
    }
  }

  #mobile-header {
    margin-left: auto;
  }

  .dropdown-items {
    background-color: var(--bg-color);
    padding-top: 15px;
    background-clip: padding-box;
  }

  .dropdown-item {
    background-color: var(--bg-hoverable);
    padding-left: 15px;
    padding-right: 15px
  }

  nav {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 10px;
  }

  #theme-row {
    padding-bottom: 15px;
  }
</style>
