---
import { PAGES } from "../../../consts";
---

<div id="mobile-header" class="header">
  <div id="mobile-nav-dropdown" class="dropdown">
    <i id="burger-menu-icon" class="fa-solid fa-bars"></i>
    <nav class="dropdown-options">
      {
        PAGES.map(({ link, name, leetName }) => (
          <a class:list="dropdown-option" href={link} title={name}>
            {leetName}
          </a>
        ))
      }
    </nav>
  </div>
</div>

<script>
  const dropdown = document.getElementById("mobile-nav-dropdown")!;
  const burgerIcon = document.getElementById("burger-menu-icon")!;
  burgerIcon.addEventListener("click", () =>
    dropdown.classList.toggle("active")
  );
</script>

<style lang="scss">
  @import "../../../styles/common.scss";
  @import "../../../styles/dropdown.scss";

  @media (min-width: $tabletMinWidth) {
    #mobile-header {
      display: none;
    }
  }

  #mobile-header {
    margin-left: auto;
  }

  .dropdown-options {
    background-color: var(--bg-hoverable);
  }
</style>
