---
interface Props {
  link: string;
  name: string;
  leetName: string;
}

const { link, name, leetName } = Astro.props;
---

<a href={link} title={name}>
  {leetName}
</a>

<style>
  a {
    font-family: "PixeloidMono";
    text-decoration: none;
    text-align: center;
    font-size: larger;

    width: min-content;
    margin-left: auto;
    margin-right: auto;
  }
</style>
