<header class="d-flex flex-column flex-md-row align-items-center pb-3 mb-5 border-bottom">
  <div>
    <a href="{{ site.github.url }}/" class="d-flex align-items-center text-decoration-none" title="Home">
      <img src="/assets/img/cyberlang-logo.png" alt="CYB3RL4NG logo" width="30" style="margin-right: 10px;">
      <span class="site-title">{{ site.title }}</span>
    </a>
  </div>
  <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
    {% for item in site.data.settings.menu %}
      {% if page.title == item.name %}
        <a class="me-3 py-2 menu-underline-no-animation" href="{{ site.github.url }}{{ item.url }}">{{ item.leet-name }}</a>
      {% elsif item.name == "Blog" and page.layout == "post" %}
        <a class="me-3 py-2 menu-underline-no-animation" href="{{ site.github.url }}{{ item.url }}">{{ item.leet-name }}</a>
      {% else %}
        <a class="me-3 py-2 menu-underline-animation" href="{{ site.github.url }}{{ item.url }}">{{ item.leet-name }}</a>
      {% endif %}
    {% endfor %}
  </nav>
  <div class="text-start social-media-icons">
    {% for item in site.data.settings.social %}
      <a href="{{ item.link }}" class="ms-3 fs-5"><i class="{{ item.fa-class }}" title="{{ item.title }}"></i></a>
    {% endfor %}
  </div>
</header>
