// CSS for underlines on hover from
// https://www.30secondsofcode.org/css/s/hover-underline-animation/
// menu-item-unselected makes a line show up below menu items on hover
// menu-item-selected is for the current page

@use "theme";

.site-title {
  font-family: "PixeloidMono";
  font-weight: bold;
  font-size: xx-large;
}

%menu-item {
  font-family: "PixeloidMono";
  display: inline-block;
  position: relative;
  color: $bodyColor;
  text-decoration: none;
  font-size: larger;
}

// Style for the underline pseudo-element
%menu-item-underline {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $bodyColor;
}

.menu-item-selected {
  @extend %menu-item;
  font-weight: bold;
}

.menu-item-selected::after {
  @extend %menu-item-underline;
  transform: scaleX(1);
}

.menu-item-unselected {
  @extend %menu-item;
}

.menu-item-unselected::after {
  @extend %menu-item-underline;
  transform: scaleX(0);
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}

.menu-item-unselected:hover::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}
