.timeline {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
}

.timeline > div {
  flex: 1;
  min-width: 30vw;
  border: thick double brown;
}

.timeline > div > div {
  font-size: x-large;
  font-weight: bolder;
}

.timeline > div > p {
  font-size: large;
}
