
/** Any width above this means a nice wide laptop */
$bigLaptopWidth: 1400px;
/** Any width above this can be treated as a laptop */
$laptopMinWidth: 1000px;
/** Any width above this can be treated as a tablet */
$tabletMinWidth: 900px;

@mixin button-unselected {
  border-radius: 4px;
  box-shadow: 0 0 1px var(--button-border-unselected);
  background-color: var(--bg-hoverable);
  transition: background-color 0.2s;
}

@mixin button-hover {
  box-shadow: inset 0 0 5px var(--button-border-hover);
  background-color: var(--bg-hover);
  transition: background-color 0.2s;
}
