@mixin dropdown-items-open {
  max-height: 100vh;
  transition: max-height 0.5s;
}

.dropdown {
  position: relative;

  .dropdown-items {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;

    height: fit-content;
    overflow: hidden;
    max-height: 0vh;
    transition: max-height 0.5s;

    .dropdown-item {
      cursor: pointer;
      z-index: 1;
      white-space: nowrap;
    }
  }

  &:hover {
    .dropdown-items {
      @include dropdown-items-open();
    }
  }
  
  &.active {
    .dropdown-items {
      @include dropdown-items-open();
    }
  }
}
