---

---

<div>
  <slot />
</div>

<style lang="scss">
  @import "../../styles/common.scss";

  div {
    display: grid;

    @media (min-width: $laptopMinWidth) {
      grid-template-columns: auto auto;
      justify-items: center;
    }
  }
</style>
