@font-face {
  font-family: "PixeloidMono";
  src: url("fonts/pixeloid/woff/PixeloidMono.woff");
  src: url("fonts/pixeloid/woff/PixeloidMono.woff") format("woff"),
       url("fonts/pixeloid/woff/PixeloidMono.woff2") format("woff2"),
       url("fonts/pixeloid/otf/PixeloidMono.otf") format("opentype"),
       url("fonts/pixeloid/ttf/PixeloidMono.ttf") format("truetype");
}

/* From https://www.30secondsofcode.org/css/s/hover-underline-animation/ */
/* menu-underline-animation makes a line show up below menu items on hover */
/* menu-underline-no-animation is for the current page */

.menu-underline-no-animation {
  display: inline-block;
  position: relative;
  color: #000000;
  font-family: "PixeloidMono";
  font-weight: bold;
}

.menu-underline-no-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(1);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
}

.menu-underline-animation {
  display: inline-block;
  position: relative;
  color: #000000;
  font-family: "PixeloidMono";
}

.menu-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}

.menu-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

