---
interface Props {
  link: string;
  title: string;
  class?: string;
}

const { link, title, class: className } = Astro.props;
---

<a class:list={["header-link", className]} href={link} title={title} aria-label={title}>
  <slot />
</a>

<style>
  :global(.header-link) {
    color: var(--fg-color) !important;
    text-decoration: none;
    transition: color 0.5s;
  }

  :global(.header-link:hover) {
    color: var(--link-color) !important;
    text-decoration: none;
    transition: color 0.5s;
  }
</style>
