---
import { SITE_TITLE } from "../../consts";
import HeaderLink from "./HeaderLink.astro";
import Logo from "../Logo.astro";
---

<HeaderLink link="/" class="site-title-link" title="Home">
  <Logo />
  <span class="site-title">{SITE_TITLE}</span>
</HeaderLink>

<style lang="scss">
  @import "../../styles/common.scss";

  :global(.site-title-link) {
    display: flex;
    align-items: center;
  }

  :global(.site-title-link:hover) {
    cursor: pointer !important;
  }

  :global(.site-title-link > svg > g) {
    color: var(--logo-path) !important;
    transition: color 0.5s;
  }

  :global(.site-title-link:hover > svg > g) {
    color: var(--link-color) !important;
    transition: color 0.5s;
  }

  .site-title {
    font-family: "PixeloidMono";
    font-weight: bold;
  }

  // This is for phones
  .site-title {
    font-size: x-large;
  }
  :global(.site-title-link > svg) {
    width: 40px;
    height: 40px;
  }

  // For tablets
  @media (min-width: $tabletMinWidth) {
    .site-title {
      font-size: 1.6rem;
    }

    :global(.site-title-link > svg) {
      width: 50px;
      height: 50px;
    }
  }

  // For laptops
  @media (min-width: $laptopMinWidth) {
    .site-title {
      font-size: xx-large;
    }

    :global(.site-title-link > svg) {
      width: 70px;
      height: 70px;
    }
  }
</style>
