---

---

<div id="mobile-header" class="header">
  <i class="burger fa-solid fa-bars"></i>
</div>

<style lang="scss">
  @import "../../styles/common.scss";

  @media (min-width: $tabletMinWidth) {
    #mobile-header {
      display: none;
    }
  }

  #mobile-header {
    margin-left: auto;
  }
</style>
