---
// This is text used as a description at the top of some pages
// It's centered and not as wide as the wall of text on the Methods page
---

<p>
  <slot />
</p>

<style>
  p {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 55ch;
  }
</style>
