---
import { themes } from "../../../theme";
---

<!-- TODO add aria attributes? I assume changing the theme *probably* won't be too useful
  if you're using assistive technologies so not a huge priority -->
<div id="theme-dropdown" class="dropdown">
  <div class="dropdown-display">
    Theme
    <i id="theme-dropdown-arrow" class="fa-solid fa-chevron-down"></i>
  </div>
  <div class="dropdown-options">
    {
      themes.map(({ name, theme, faClass, iconClass }) => (
        <div class="dropdown-option theme-option" x-theme={theme}>
          <i class={`${faClass} ${iconClass}`} />
          {name}
        </div>
      ))
    }
  </div>
</div>

<script>
  import { getStoredTheme, setTheme } from "../../../theme";

  const themeDropdown = document.getElementById("theme-dropdown")!;
  const buttons = themeDropdown.getElementsByClassName("theme-option");
  for (const button of buttons) {
    const themeName = button.getAttribute("x-theme");
    button.addEventListener("click", () => setTheme(themeName));
  }

  setTheme(getStoredTheme());
</script>

<style lang="scss">
  @import "../../../styles/common.scss";
  @import "../../../styles/dropdown.scss";

  .dropdown {
    .dropdown-display {
      @include button-unselected();
      white-space: nowrap;
      cursor: default;
      padding: 0.2rem 0.4rem;
    }

    &:hover > .dropdown-display {
      @include button-hover();
    }

    .dropdown-options {
      background-color: var(--bg-color);
      border-radius: 8px;
      margin-top: 0.5rem;

      .dropdown-option {
        background-color: var(--bg-hoverable);
        padding: 0.3rem 0.5rem;
        transition: background-color 0.3s;

        &:hover {
          background-color: var(--bg-hover);
          transition: background-color 0.3s;
        }

        &.selected {
          background-color: var(--bg-selected);
        }

        &:hover.selected {
          background-color: var(--bg-selected-hover);
          transition: background-color 0.3s;
        }
      }
    }

    #theme-dropdown-arrow {
      transition: transform 0.5s;
    }

    &:hover {
      #theme-dropdown-arrow {
        transform: rotate(180deg);
        transition: transform 0.5s;
      }
    }
  }

  @mixin themeIcon($stroke, $fill) {
    color: $stroke;
    background-color: $fill;
    clip-path: circle();
  }

  .system-theme-icon {
    @include themeIcon(var(--dark-bg), var(--light-bg));
  }

  .light-theme-icon {
    @include themeIcon(var(--light-bg), var(--bg-color));
  }

  .dark-theme-icon {
    @include themeIcon(var(--dark-bg), var(--bg-color));
  }

  .ugly-theme-icon {
    @include themeIcon(var(--ugly-fg), var(--bg-color));
  }
</style>
