---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import HomeLink from "../components/header/HomeLink.astro";
import TabletHeader from "../components/header/tablet/Menu.astro";
import MobileHeader from "../components/header/mobile/Menu.astro";

interface Props {
  title: string;
  isBlogPost?: boolean;
  frontmatter?: { title: string };
  description?: string;
}

const { frontmatter} = Astro.props;
let { title, isBlogPost } = Astro.props;
isBlogPost = isBlogPost ?? false;
// If a title wasn't explicitly passed in, get it from the frontmatter
if (!title && frontmatter && "title" in frontmatter) {
  title = frontmatter.title;
}
// The home page will have no extra title
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} />
  </head>
  <body>
    <header>
      <HomeLink />
      <MobileHeader />
      <TabletHeader title={title} isBlogPost={isBlogPost} />
    </header>
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style lang="scss">
  @import "../styles/common.scss";

  :global(body) {
    color: var(--fg-color);
    background: var(--bg-color);
    font-family: Roboto, Consolas, sans-serif;
    margin: 0 auto;
    height: 1vh;
  }

  body > header {
    // Padding for very small screens (phones in portrait orientation)
    padding-left: 5vw;
    padding-right: 5vw;

    @media (min-width: $laptopMinWidth) {
      padding-left: 4vw;
      padding-right: 4vw;
    }
  }

  body > main {
    margin-left: auto;
    margin-right: auto;
    // Max width for laptops
    max-width: 100ch;

    @media (min-width: $tabletMinWidth) {
      margin-top: 4rem;
      margin-bottom: 6rem;
    }

    @media (max-width: $laptopMinWidth) {
      // Make it smaller for tablets
      padding-left: 10vw;
      padding-right: 10vw;
    }

    @media (max-width: $tabletMinWidth) {
      // Make it smaller for phones
      padding-left: 5vw;
      padding-right: 5vw;
    }
  }

  :global(body > footer) {
    // Padding for very small screens (phones in portrait orientation)
    padding-left: 5vw;
    padding-right: 5vw;

    @media (min-width: $tabletMinWidth) {
      padding-left: 12vw;
      padding-right: 12vw;
    }

    @media (min-width: $laptopMinWidth) {
      padding-left: 15vw;
      padding-right: 15vw;
    }

    @media (min-width: $bigLaptopWidth) {
      padding-left: 24vw;
      padding-right: 24vw;
    }
  }

  :global(body > div) {
    // The flexing is so the footer stays at the bottom
    display: flex;
    flex-direction: column;
    min-height: 90vh;
  }

  :global(body a) {
    color: var(--link-color);

    &:hover {
      color: var(--link-color);
    }

    &:visited {
      color: var(--link-color-visited);
    }
  }

  :global(h1) {
    text-align: center;
    padding-bottom: 1rem;
  }

  :global(p) {
    font-size: large;
  }

  // Header stuff
  header {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    margin-bottom: 1.5rem;
    gap: 1.7rem;

    border-bottom: solid;
    border-width: thin;
    border-color: var(--divider-color); // Divider between header and content

    background-color: var(--bg-header);
  }
</style>
